/*///////////////////   GENERAL  ////////////////////*/
.body {
  background-color: grey;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*/ //////////////////   HEADER  ////////////////////*/
.boxHeader {
  display: flex;
  flex: 1;
  padding: 20px;
  border-bottom: white 2px solid;
  align-items: center;
  background-color: black;
}
.logo {
  width: 200px;
  margin-right: 20px;
}
.logo:hover {
  cursor: pointer;
}
.buttonSearch {
  background-color: aliceblue;
}

/*/ //////////////////   HOME  ////////////////////*/
.boxImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
}
.images {
  height: 400px;
  margin-bottom: 20px;
}
